body {
	/*width: 100vw;
	height: 100vh;*/
}
img {
	width: 100%;
	display: block;
	margin: auto;
}

a:hover {
	cursor: pointer;
}
.header_block.new_height{
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #dddddd;
	box-shadow: none;
}

.header_block {
	position: fixed;
	top: 0;
	left: 0;
	min-height: 20px;
	background: #fff;
	width: 100%;
	z-index: 999;
	height: 60px;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #DDDDDD;
	transition: top .3s ease;
}

.header_block.is_open {
	background: #fff;
	border-bottom: 1px solid #DDDDDD;
	box-shadow: none;
}

.header_box {
	position: relative;
	width: 100%;
	z-index: 999;
	height: 60px;
	display: flex;
	flex-direction: row;
}


.header {
	height: 60px;
	width: 1280px;
	min-width: 1200px;
	max-width: 1920px;
	display: flex;
	flex-direction: row;
	margin: auto;
	justify-content: space-between;

}

.logo {
	display: flex;
	align-content: center;
	width: 170px;
}

.logo a {
	display: flex;
	align-content: center;
	width: 100%;
}

.logo .logo_img {
	display: block;
	margin: auto;
}

.logo .is_open_logo_img {
	display: none;
	
	
}

.logo .new_height_logo_img {
	display: block;
	margin: auto;
}



.nav_box {
	width: 500px;
    height: 100%;
}
.first_menu_ul{
	display: flex;
	flex-direction: row;
	list-style: none;
}
.first_menu_ul li.first_menu_ul_li{
	height: 60px;
	line-height: 60px;
	width: 80px;
	text-align: center;
	font-size: 14px;
}
.first_menu_ul .first_menu_ul_li>a{
	display: block;
	color: #000;
	position: relative;
}

.first_menu_ul .is_open_logo_img{
	display: none;
}
.is_open_search {
	display: none;
}
.is_open_user {
	display: none;
}

.is_open_cart {
	display: none;
}

.is_open_qq {
	display: none;
}
.is_open_tips {
	display: none;
}

.is_open_tips {
	display: none;
}
.is_open .first_menu_ul li a{
	color: #000000;
}
.is_open .log_img{
	display: none;
}

.login_ul li a span.tips {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	background: #47b5aa;
	display: block;
	height: 20px;
	border-radius: 10px;
	min-width: 20px;
	line-height: 20px;
	text-align: center;
	padding: 0 6px;
	font-size: 12px;
	font-weight: normal;
	white-space: nowrap;
	z-index: 10;
	-webkit-transform: translate(60%, 70%);
	-ms-transform: translate(60%, 70%);
	transform: translate(60%, 70%);
	-webkit-transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
}
/*下拉导航*/
.two_menu_box{
	padding-bottom: 20px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 61px;
	background: #FFFFFF;
	display: none;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}
.two_menu_ul {
	width: 1200px;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.two_menu_li {
	border-bottom: 1px solid #e1e1e1;
	width: 400px;
	padding: 15px 0;
}
.two_menu_li>p {
	margin: 0;
	font-weight: bold;
	line-height: 30px;
	text-align: left;
	width: 23%;

}
.two_menu_li>ul {
	display: flex;
	line-height: 30px;
	flex-direction: row;
	flex-wrap: wrap;
}
.two_menu_li>ul>li {
	width: 23%;
	position: relative;
	text-align: left;
}
.two_menu_li>ul>li:hover {
	cursor: pointer;
}
.two_menu_li>ul>li>a {
	display: inline-block;
	position: relative;
	width: auto;
}
.two_menu_li>ul>li a:hover {
	color: #47b5aa;
}

.two_menu_li>ul>li>a.arrow {
	color: #47b5aa;
}

.two_menu_li>ul>li>a.arrow:before {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	width: 12px;
	height: 8px;
	background: url(../img/icon/arrow.png) no-repeat center center;
	background-size: 12px 8px;
	z-index: 999;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.search_box{
	display: flex;
	margin-right: 2vw;
	
}
.search_box input{
	width: 280px;
	margin: auto;
	border-radius: 20px;
	border: 1px solid #e2e2e2;
	outline: none;
	padding: 6px 20px;
	height: 18px;
    background: #f4f4f4;
	font-size: 12px;
    color: #000000;
}
.search_box input::-webkit-input-placeholder{
	color:#c0c0c0;
}
.search_box button{
	position: absolute;
	right: 606px;
	top: 23px;
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}
.is_open_search{
	display: none;
}
.is_open .search_box input{
	width: 280px;
	margin: auto;
	border-radius:20px;
	border:1px solid #e2e2e2;
	outline: none;
	padding: 6px 20px;
	height: 18px;
	background: #f4f4f4;
	font-size: 12px;
}
.is_open .search_box input::-webkit-input-placeholder{
	color:#c0c0c0;
}
.is_open .search_box input{
	color: #000000;
}

.is_open .is_open_search{
	display: block;
}
.is_open .search{
	display: none;
}
.is_open .user{
	display: none;
}
.is_open .is_open_user{
	display: block;
}
.is_open .login_ul li a span.tips{
	color: #fff;
	background: #47B5AA;
}
.is_open .is_open_qq{
	display: block;
}
.is_open .qq{
	display: none;
}
.is_open .tips{
	display: none;
}
.is_open .is_open_tips{
	display: block;
}
.login_ul li a span.tips{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	height: 20px;
	border-radius: 10px;
	min-width: 20px;
	line-height:20px;
	text-align: center;
	padding: 0 6px;
	font-size: 12px;
	font-weight: normal;
	white-space: nowrap;
	z-index: 10;
	transform: translate(60%,70%);
	transform-origin: 100% 0%;
}
.login_box{}
.login_ul{
	display: flex;
	flex-direction: row;
	align-content: center;
	list-style: none;
}
.login_ul li{
	height: 60px;
	width: 3vw;
	display: flex;
	align-content: center;
	text-align: center;
	justify-content: center;
	position: relative;
}
.user{}
.login_ul li a{
	display: flex;
	text-align: center;
	align-content: center;
	position: relative;
	
}


.first_menu_ul .first_menu_ul_li>a:before{
	content: '';
	background-color: #47B5AA;
	height: 4px;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	transform: scale3d(0,1,5);
	transform-origin: 0 50%;
	transition: transform .3s,-webkit-transform .3s;
	transition-timing-function: cubic-bezier(1,.68,.16,.9);
}

.first_menu_ul .is_open_li>a:before{
	transform: scale3d(1,1,1);
}
.login_popup_parent{
	
}
.login_popup_block{
	border: 1px solid #D5D5D5;
	background: #fff;
	width: 280px;
	min-height: 20px;
	position: absolute;
	top: 60px;
	left: -125px;
	flex-direction: column;
	padding: 10px;
	border-radius: 13px;
}
.login_popup_block:before{
	content: '';
	position: absolute;
	top: -8px;
	left: 146px;
	width: 13px;
	height: 8px;
	background: url(../img/icon/arrow.png) no-repeat center center;
	background-size:13px 8px;
}
.login_enter{
	font-size:14px;
	display: flex;
	flex-direction: row;
	padding-left: 20px;
	border-bottom: 1px solid #D5D5D5;
	height: 38px;
	align-content: center;
	align-items: center;
	font-weight: bold;
}
.login_enter a:visited{
	color: #47B2AC;
}
.login_ul li a{
	display: flex;
	text-align: center;
	align-content: center;
	position: relative;
}
.login_alreadly{
	font-size: 14px;
	display: flex;
	flex-direction: row;
	padding-left: 20px;
	border-bottom: 1px solid #D5D5D5;
	height:38px;
	align-content: center;
	align-items: center;
	}
.login_alreadly em{
	font-weight: bold;
}
.login_popup_ul{
	width: 100%;
	padding: 10px 0;
	list-style: none;
}
.login_popup_ul li{
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: left;
}
.login_popup_ul li a {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    text-align: left;
    padding-left: 20px;
}
.login_popup_ul li a:hover{
	background: #F8F8F8;
}
.login_out{
	font-size: 14px;
	display: flex;
	flex-direction: row;
	padding-left: 20px;
	border-top:1px solid #D5D5D5;
	height: 32px;
	align-content: center;
	align-items: center;
}
.login_out span{
	margin-right: 10px;
}
.is_open .subset_box>li a{
	color:#979797;
	font-size: 13px;
}

/*.two_menu_li {*/
	/*border-bottom: 1px solid #e1e1e1;*/
	/*width: 100%;*/
/*}*/

/*.two_menu_li:last-child {*/
	/*border-bottom: none;*/
/*}*/

/*.two_menu_content_ul {*/
	/*width: 100%;*/
	/*display: flex;*/
	/*flex-direction: row;*/
	/*justify-content: flex-start;*/
/*}*/

/*.two_menu_content_li {*/
	/*width: 33%;*/
	/*text-align: left;*/
	/*padding: 15px 0;*/
/*}*/

/*.two_menu_content_li>p {*/
	/*margin: 0;*/
	/*font-weight: bold;*/
	/*line-height: 30px;*/
/*}*/

/*.two_menu_content_li>ul {*/
	/*display: flex;*/
	/*line-height: 30px;*/
	/*flex-direction: row;*/
	/*flex-wrap: wrap;*/
/*}*/

/*.two_menu_content_li>ul>li {*/
	/*width: 23%;*/
	/*position: relative;*/
/*}*/

/*.two_menu_content_li>ul>li:hover {*/
	/*cursor: pointer;*/
/*}*/

/*.two_menu_content_li>ul>li>a {*/
	/*display: inline-block;*/
	/*position: relative;*/
	/*width: auto;*/
/*}*/

/*.two_menu_content_li>ul>li a:hover {*/
	/*color: #47b5aa;*/
/*}*/

/*.two_menu_content_li>ul>li>a.arrow {*/
	/*color: #47b5aa;*/
/*}*/

/*.two_menu_content_li>ul>li>a.arrow:before {*/
	/*content: '';*/
	/*position: absolute;*/
	/*bottom: -3px;*/
	/*left: 50%;*/
	/*transform: translateX(-50%);*/
	/*-webkit-transform: translateX(-50%);*/
	/*width: 12px;*/
	/*height: 8px;*/
	/*background: url(../../../templates/img/icon/arrow.png) no-repeat center center;*/
	/*background-size: 12px 8px;*/
	/*z-index: 999;*/
	/*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);*/
/*}*/

.dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 32px;
	border: 1px solid #e1e1e1;
	background: #fff;
	z-index: 99;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.subset_box {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: #e1e1e1;
}

.subset_box>li {
	width: 15%;
	background: #fff;
	line-height: 30px;
	text-align: center;
}

.subset_box>li a {
	color: #979797;
	font-size: 13px;
}

/* .login_popup_block {
	border: 1px solid #d5d5d5;
	background: #fff;
	width: 280px;
	min-height: 20px;
	position: absolute;
	top: 80px;
	left: -124px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	border-radius: 5px;
	display: none;
}

.login_popup_block:before {
	content: '';
	position: absolute;
	top: -8px;
	left: 142px;
	width: 13px;
	height: 8px;
	background: url(../../img/icon/login_arrow.png) no-repeat center center;
	background-size: 13px 8px;
}

.login_enter {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	padding-left: 20px;

	height: 38px;
	align-content: center;
	align-items: center;
	font-weight: bold;
}

.login_enter a {
	color: #47B2AC;
}

.login_enter a:active {
	color: #47B2AC;
}

.login_enter a:visited {
	color: #47B2AC;
}

.login_alreadly {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	padding-left: 20px;

	height: 38px;
	align-content: center;
	align-items: center;
}

.login_alreadly em {
	font-weight: bold;
}

.login_popup_ul {
	width: 100%;
	padding: 10px 0;
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
}

.login_popup_ul li {
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: left;
}

.login_popup_ul li:hover {
	background: #f6f6f6;
}

.login_popup_ul li a {
	display: block;
	width: 100%;
	height: 32px;
	line-height: 32px;
	text-align: left;
	padding-left: 20px;
	font-size: 14px;
}

.login_out {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	padding-left: 20px;
	height: 32px;
	align-content: center;
	align-items: center;
}

.login_out span {
	margin-right: 10px;
} */