body,html{
	width: 100%;
	height: 100%;
	font-size: 25px;
	color: #231f20;
	background: #F0F0F0;
}
.homepage{
	position: fixed;
	width: 2.4rem;
	height: 0.8rem;
	padding: 0.2rem 0rem;
	background: #FF9900;
	color: #FFFFFF;
	font-size: 0.5rem;
	margin-top: 0.5rem;
	display: flex;
	flex-direction: row;
/* 	justify-content: center; */
	align-content: center;
	align-items: center;
	border-top-right-radius: 0.6rem;
	border-bottom-right-radius: 0.6rem;
	top: 0.2rem;
}
.homepage a{
    text-decoration: none;
	color: #FFFFFF;
}
.manner a{
	color: #231f20;
	text-decoration: none;
}
.homepage img{
	width: 0.5rem;
	height: 0.4rem;
	margin-left: 0.3rem;
}
.homepage span{
	margin-right: 0.2rem;
	color: #FFFFFF;
}
.manner{
	margin-top: 2.8rem;
}
.homepageDetail{
	height: 4.5rem;
	background: #FFFFFF;
	padding: 0.2rem 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	margin-bottom: 0.6rem;
	
}
.homepageDetail img{
	width: 6.5rem;
	height: 3.7rem;
}
.homepageDetail ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
/* 	align-items: center; */
	margin-left: 0.35rem;
}
.homepageDetailOne{
	font-size: 0.7rem;
}
.homepageDetailTwo{
	font-size: 0.55rem;
}
.homepageDetail_Left{
	width: 6.5rem;
	height: 3.7rem;
}